* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

.nav-left {
  display: flex;
  align-items: center;

  animation: fadeLeft 1s ease;
}

.nav-logo {
  width: 60px;
  margin-left: 30px;

  animation: floatingLogo 4s ease-in-out infinite;
}

.nav-name {
  color: #f7f7f7;
  margin: 0;
  letter-spacing: 1px;

  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.3s;
}

.nav-center {
  padding-left: 60px;
  padding-top: 20px;
  transform: translateX(-50%);

  opacity: 0;
  animation: fadeDown 1s ease forwards;
  animation-delay: 0.5s;
}

.nav-link {
  text-decoration: none;
  color: #f7f7f7;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 50px;
  transition: all 0.6s ease;

  transition:
    color 0.4s ease,
    background-color 0.4s ease,
    transform 0.4s ease;
}

.nav-link:hover {
  color: #c4a46a;
  transform: translateY(-2px);
}

.nav-link.active {
  background-color: #c7a667;
  color: #10202d;
  font-weight: 700;

  box-shadow: 0 0 15px rgba(199, 166, 103, 0.35);
}

.home-link {
  margin-right: 14px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(18px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translate(-50%, -18px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes floatingLogo {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0px);
  }
}

.star-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.circle-container {
  position: absolute;
  width: 6px;
  height: 6px;
  animation: floatUp linear infinite;
}

@keyframes floatUp {
  from {
    transform: translateY(110vh) translateX(0);
  }
  to {
    transform: translateY(-20vh) translateX(50px);
  }
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(120, 255, 255, 0.9),
    rgba(120, 255, 255, 0)
  );
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.6;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}

.nav-container,
.header-container,
.footer-container {
  background-color: #10202d;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.header-text {
  padding: 2px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.my-name {
  position: relative;
  z-index: 2;
  color: #c7a667;
  font-size: 58px;
  font-weight: 800;
  margin: 14px 0 12px 0;
  letter-spacing: 1px;
  animation: fadeUp 1s ease forwards;
}

.header-subtitle {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;

  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.3s;
}

.header-sentence {
  position: relative;
  z-index: 2;
  color: #d6d6d6;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  max-width: 700px;
  margin-bottom: 28px;

  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.6s;
}

.animate-button {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.9s, 2s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(35px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me {
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
}

.about-title {
  color: #c7a667;
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 45px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.about-paragraph {
  position: relative;

  color: #000;
  line-height: 1.95;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-size: 1.05rem;

  margin-bottom: 20px;
  padding-left: 18px;

  border-left: 1px solid rgba(199, 166, 103, 0.25);
}

.about-paragraph:hover {
  border-left-color: #10202d;
  transform: translateX(4px);
  transition: 0.3s ease;
}

.about-paragraph::first-letter {
  font-size: 2rem;
  font-weight: 700;
  color: #10202d;
}

.skill-title {
  color: #c7a667;
  font-size: 35px;
  font-weight: 800;
  margin: 55px 0 5px 0;
  text-align: center;
}

.tech-stack-container {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.contact-me,
.work {
  padding: 0 25px;
  margin-bottom: 30px;
}

.contact-title,
.work-title {
  color: #c7a667;
  font-size: 35px;
  font-weight: 800;
  margin: 85px 0 5px 0;
  text-align: center;
}

.contact-des {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(28, 28, 28);
}

.work {
  margin-bottom: -20px;
}

.work-title {
  margin-bottom: 20px;
}

.step-titles {
  font-weight: bold;
  color: #10202d;
  font-size: 21px;
  margin-top: -4px;
}

.step-dates {
  font-size: 16px;
  color: #5f6b76;
  font-weight: bold;
}

.step-companies {
  font-size: 16px;
  color: #8b5e3c;
  margin-top: 5px;
  font-weight: bold;
}

.step-descriptions {
  font-size: 14px;
  color: #1e293b;
  margin-top: 16px;
  padding-left: 10px;
  padding-right: 14px;
  line-height: 22px;
}

.step-points {
  margin-bottom: 10px;
}

.timeline-item {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}

.timeline-item.show-item {
  opacity: 1;
  transform: translateY(0);
}

.footer-text {
  padding: 18px 0 10px 70px;
}

.my-copyright {
  font-size: 15px;
  color: #f7f7f7;
  font-weight: lighter;
}

.footer-text-right {
  padding: 18px 50px 10px;
  text-align: right;
}

.github {
  margin-right: 20px;
}

.my-accounts {
  font-size: 24px;
  color: #f7f7f7;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.my-accounts:hover {
  color: #d6b77a;
  transform: translateY(-2px);
}

.header-project {
  background: #10202d;
  background-size: 400% 400%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.header-project-text {
  margin: 30px 0;
}

.header-title-project {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  font-size: 58px;
  font-weight: 800;
  margin: 14px 0 12px 0;
  letter-spacing: 1px;
  animation: fadeUp 1s ease forwards;
}

#spin {
  color: #c7a667;
}

#spin::after {
  content: "";
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0%,
  19% {
    content: "Projects";
  }
  20%,
  39% {
    content: "Works";
  }
  40%,
  59% {
    content: "Platforms";
  }
  60%,
  79% {
    content: "Solutions";
  }
  80%,
  100% {
    content: "Websites";
  }
}

.container-project-body {
  background: #f7f7f7;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 350px));
  justify-content: center;
  justify-items: center;
  gap: 26px;
  text-align: left;
  margin: 50px 0;
}

.card-projects {
  transition: all 0.3s ease;
}

.card-projects:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card-projects img {
  transition: transform 0.4s ease;
}

.card-projects:hover img {
  transform: scale(1.05);
}

.container-content{
  min-height: calc(100vh - 34px);
}

.footer-section{
  position: relative;
}
